@font-face {
    font-family: 'MyFont';
    src: url('./tangerine.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    --colorOne: #844D36;
    --colorTwo: #474853;
    --colorThree: #86B3D1;
    --colorFour: #AAA0A0;
    --colorFive: #8E8268;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./background.jpg');
}

#mainWrapper {
    width: min(95vw, 100%);
    display: grid;
    grid-template-rows: 70px 2fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 1rem;
}

#header {
    width: min(90vw, 100%);
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 40px;
}

#header button {
    position: relative;
    appearance: none;
    margin-top: 10px;
    width: 225px;
    line-height: 3rem;
    border: none;
    box-shadow: 2px -2px 4px black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 0px;
    background-color: var(--colorTwo);
    color: var(--colorFour);
    cursor: pointer;
    transition: background-color 0.2s;

}

#header button:hover {
    background-color: var(--colorThree);
    color: black;
}

.logo {
    font-family: 'MyFont';
    font-size: 6rem;
}

.subLogo {
    font-family: 'MyFont';
    font-size: 2rem;
}

.headerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
    width: min(95vw, 1100px);
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 2px 4px black;
    background-color: var(--colorOne);
    
}

.contentHome, .contentMenu, .contentContact {
    background-color: var(--colorFive);
    display: grid;
    justify-items: center;
    align-items: center;
    width: min(95vw, 1100px);
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
}

.contentHome {
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
}

.contentHome img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.contentMenu {
    grid-template-rows: 150px 400px 400px 400px;
    row-gap: 10px;
}

.contentContact {
    grid-template-rows: 150px 600px 100px;
}

.contentHome p, .contentMenu p, .contentContact p:last-child {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.contentContact p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    border-radius: 4px;
    box-shadow: 2px 2px 4px black;
}



.menuItem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px black;
    background-color: var(--colorOne);
}

.menuItemHeader {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 2px 2px 4px black;
    width: 450px;
    height: 100px;
    background-color: var(--colorTwo);
}

.menuItem img {
    border-radius: 4px;
    box-shadow: 2px 2px 4px black;
}
.menuItem h1 {
    padding-top: 10px;
    font-size: 5rem;
    font-family: 'MyFont';
}

.menuItemText {
    font-size: 1rem;
    padding-top: 10px;
    text-align: center;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#footer img {
    margin-right: 5px;

}

a {
    text-decoration: none;
    color: var(--colorFive);
}

a:visited {
    color: var(--colorThree);
}